@import "../../sass/main.scss";
.new-card {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  div {
    width: 75%;
  }
}
.inputs {
  @include inputs;
}
.submit-btn {
  @include buttons;
}
